@charset "UTF-8";
/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/
/*
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/
/*
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

*/
/*** reset ***********/
html, body, ul, ol, li, dl, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img, label {
  margin: 0;
  padding: 0;
  border: 0;
}

header, section, footer, aside, nav, article {
  display: block;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
}

.btn {
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.outerwrapper {
  -webkit-flex: 1;
  flex: 1;
}

/*** standart classes *****/
a {
  color: #020000;
}

h1 {
  font-size: 45px;
  font-size: 4.5rem;
}

h2 {
  font-size: 35px;
  font-size: 3.5rem;
  color: #0f4e8c;
  font-weight: normal;
  margin-bottom: 7.5rem;
  padding-top: 5.1rem;
  position: relative;
  text-align: center;
}

h2:after {
  border-bottom: 1px solid #ed1c24;
  bottom: -2rem;
  left: 50%;
  margin-left: -6rem;
  width: 12rem;
}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
}

*:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.tdn {
  text-decoration: none;
}

.tdn:hover {
  text-decoration: underline;
}

.tdu {
  text-decoration: underline;
}

.tdu:hover {
  text-decoration: none;
}

.hide {
  display: none;
}

.before, h2:after, .logo-contacts .contacts .tel:before, main ul li:before, .owl-carousel .owl-controls .owl-nav .owl-prev:after,
.owl-carousel .owl-controls .owl-nav .owl-next:after, .projects .owl-item .lightbox:before, .projects .owl-item .lightbox:after, button.close:before {
  content: "";
  display: block;
  position: absolute;
}

.form-control {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-size: 1.8rem;
  -webkit-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
  font-family: 'Open Sans', sans-serif;
  background: #f7f8fa;
  border: 2px solid #f7f8fa;
  width: 100%;
  height: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.form-control:focus, .form-control:active {
  background-color: #fff;
  border-color: #0f4e8c;
}

.form-control.error {
  background-color: #feeeee;
  border-color: #f3222b;
}

label.error {
  color: #f3222b;
}

.btn {
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background-color: #0f4e8c;
  border: 1px solid #0f4e8c;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 1.3rem 5rem;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #fff;
  color: #0f4e8c;
}

.text-center {
  text-align: center;
}

.gray {
  background-color: #f7f8fa;
}

.container {
  padding-bottom: 5rem;
}

/* =header
---------------------------*/
.header {
  background: #88bff1 url(../images/bg-1.jpg) no-repeat center top/cover;
  padding-top: 3.3rem;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 0;
}

.header h1 {
  color: #0f4e8c;
  padding: 8rem 0 2.5rem;
  text-align: center;
}

.header .title {
  flex: 1;
}

.header .download {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.header .download a {
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background: rgba(15, 78, 140, 0.25) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAfCAYAAAD0ma06AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAU5JREFUeNpi+P//PwOJuAqI3wDxUyibJP2kWhb0HxMEkWIGEwNpwIFIMZyAVAtZiBSjmoUUg1ELRy2kioXBQLwEiNuBWIoMM0F6eoF4HtQsVIBWEqSglSKPgFgFSX4alpJmGpK8KlQPMkjFV9Iko/FlgXg/EKsS4TOQmn1QPcggCV+Q/sJikAzUIFUiLJPBIvcLX5D6APG//9jBYyDeiUV8J1QOGwCZFUyotkjDYykpAGRGOrHVE6WW/oOaQVJ9SK6lOC0jpgIm1VK8lhFb46cSaek/9DxHSRODkKVEWUZqmwaXpf+gJRRNGlEpaJaSZBkIM4JtJQ14IhVXoAJ6OymaybGQIgCzENTykqOxXY+A+A8oXI2A+N5/2gOQHcYgH54F2mxEpxA9B7LwC5DBTScLf4HqwyN0TDOHQHEoDcR7gPg3DeMPZPZekF0AAQYAA4ZxJg4S6m8AAAAASUVORK5CYII=") no-repeat 32px 28px;
  color: #fff;
  display: inline-block;
  padding: 3rem 3rem 3rem 7.5rem;
  text-decoration: none;
}

.header .download a:hover {
  background-color: #0f4e8c;
}

.logo-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.logo-contacts .contacts {
  font-size: 15px;
  font-size: 1.5rem;
  color: #fff;
  flex: 1;
  margin-top: 2.3rem;
  text-align: right;
}

.logo-contacts .contacts .tel {
  font-size: 24px;
  font-size: 2.4rem;
  display: inline-block;
  min-height: 31px;
  position: relative;
}

.logo-contacts .contacts .tel:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAYAAAAfrhY5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAe9JREFUeNrEl08oBFEcx9+ubfewmz8nN/9T9kbCwdVhqY0QbdlyoeTiTw7CBSWtdVJukgvJ3gg3paSUUBtZojYXDnugENb3V7+taexbu/bN+NXnML+ZN5+ZeW/e7z1LnjcgOPLBEOgEZcAh1MUbuAWbYBHEKGlhuRtsgxJhfNyBFhC28hubJRbsIV8ByUdNFGsfYITkbeJ/opXk5ZKTcbAGvKAeXCuWV9hSjOpxMKc5HgR7CuUOq+TEDQjocvtgV+Wry+Sr4CNJfgx8Gi0/lOQvwLLR8liKNk9Gyysl+WEwabTckyRHA3AhRRtl8nbg1OW8qmcZmdwFfLrclFlyweU1R3O8zgXBFHkV6Nfl+kDUDDnFLCjWHD9wIXoxQ061fgPYNbkT0AQeJcWIHngJfGUrF1zRVnT9fwRqwE6SYjTBRaj2t1qQ7j/r42lVe32Ul0PdXG7ndVXwlOcLDy+dfgSt4eIZdBN1gR+8Z9i9deD4r2+eiC5wAIoybFeYzWfXRgM4AwPAlmabDlXyxF9AI/qc/32n5Do7D8AeWZ+/KtggPIMQj/4IyAWNoBeUyjYSNl4yubOUu3gg+jNoE6HPvvVPS+cQyYPg3mQx+YJWXjI1yyYCg/Zq5IslRnsYVIMZcMm7SpVB97sC0+whn/gWYADXq1xl1SbkYAAAAABJRU5ErkJggg==") no-repeat left top;
  height: 31px;
  left: -40px;
  top: 11px;
  width: 31px;
}

.logo-contacts .contacts .tel span {
  font-size: 30px;
  font-size: 3rem;
}

.logo-contacts .contacts .tel a {
  color: #fff;
  text-decoration: none;
}

/* =/header
---------------------------*/
/* =main
---------------------------*/
main {
  margin-left: 16.6%;
  margin-right: 16.6%;
}

main ul {
  margin-left: 3.8rem;
  padding-left: 2.8rem;
}

main ul li {
  font-size: 18px;
  font-size: 1.8rem;
  color: #727272;
  line-height: 1.4;
  margin: .8rem 0;
  position: relative;
}

main ul li:before {
  font-size: 35px;
  font-size: 3.5rem;
  content: "•";
  line-height: 1;
  color: #ed1c24;
  left: -3rem;
  top: -.5rem;
}

/* =/main
---------------------------*/
.owl-carousel .owl-controls {
  position: absolute;
  top: 255px;
  width: 100%;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background: #0f4e8c;
  border: 1px solid #0f4e8c;
  height: 50px;
  position: absolute;
  width: 50px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:after,
.owl-carousel .owl-controls .owl-nav .owl-next:after {
  background: url(../images/arrow.png) no-repeat left -21px;
  height: 21px;
  left: 16px;
  top: 14px;
  width: 13px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  background-color: #fff;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover:after,
.owl-carousel .owl-controls .owl-nav .owl-next:hover:after {
  background-position: left top;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
  left: -60px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 16px;
  top: 14px;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
  right: -60px;
}

.owl-carousel .owl-controls .owl-nav .owl-next:after {
  left: 19px;
}

/* =projects
---------------------------*/
.projects .owl-item {
  text-align: center;
}

.projects .owl-item a {
  display: inline-block;
  margin-bottom: 1.8rem;
}

.projects .owl-item .lightbox {
  position: relative;
}

.projects .owl-item .lightbox:before, .projects .owl-item .lightbox:after {
  height: 100%;
  left: 0;
  top: 0;
  width: calc(100%);
}

.projects .owl-item .lightbox:before {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.projects .owl-item .lightbox:after {
  opacity: 0;
  z-index: 999;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.projects .owl-item .lightbox:hover:before {
  background: rgba(15, 78, 140, 0.25);
  z-index: 99;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.projects .owl-item .lightbox:hover:after {
  background: url(../images/zoom.png) no-repeat center center;
  opacity: 1;
}

/* =/projects
---------------------------*/
/* =video
---------------------------*/
.video-item {
  padding: 2rem 0 5rem;
  text-align: center;
}

/* =/video
---------------------------*/
/* =products
---------------------------*/
.products {
  font-size: 18px;
  font-size: 1.8rem;
  color: #0f4e8c;
  text-align: center;
}

.products .container {
  padding-bottom: 6.3rem;
}

.products h2 {
  margin-bottom: 6rem;
}

.products .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  border-top: 2px solid #fff;
  margin-top: 4rem;
  padding-top: 5rem;
}

.products .flex .item {
  width: 31.5%;
}

.products .flex .text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 18.5rem;
  line-height: 1.3;
  padding-top: 2rem;
}

.products .flex .price {
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  margin-top: 2rem;
  margin-bottom: 2.9rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.products .flex .price span {
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
  padding-left: .5rem;
}

/* =/products
---------------------------*/
/* =reviews
---------------------------*/
.reviews img {
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 3px solid #f7f8fa;
  vertical-align: top;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.reviews img:hover {
  border-color: #ed1c24;
}

.reviews .owl-carousel .owl-item {
  text-align: center;
}

.reviews .owl-carousel .owl-controls {
  top: 163px;
}

.reviews .owl-carousel .owl-controls .owl-nav .owl-prev {
  left: -68px;
}

.reviews .owl-carousel .owl-controls .owl-nav .owl-next {
  right: -66px;
}

.reviews h2 {
  margin-bottom: 8.7rem;
}

/* =/reviews
---------------------------*/
/* =map
---------------------------*/
#map {
  height: 755px;
}

/* =/map
---------------------------*/
/* =footer
---------------------------*/
footer {
  font-size: 18px;
  font-size: 1.8rem;
  color: #727272;
  padding-top: 5.7rem;
}

footer a {
  color: #727272;
  text-decoration: none;
}

footer p {
  line-height: 1.7;
}

/* =/footer
---------------------------*/
.thank {
  background-color: #fff;
  border: 3px solid #0f4e8c;
  color: #0f4e8c;
  left: 50%;
  margin-left: -22%;
  position: fixed;
  padding-top: 7.5rem;
  padding-bottom: 3.5rem;
  top: 50px;
  width: 45%;
  z-index: 999;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-size: 1.8rem;
}

.thank a {
  color: #0f4e8c;
  text-decoration: none;
}

.thank a:hover {
  text-decoration: underline;
}

.thank h4 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: normal;
  padding-bottom: .5rem;
}

.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  width: 18.5rem;
}

.modal form div {
  position: relative;
  margin-top: 1.7rem;
}

.modal form div label.error {
  background: url(../images/error_icon.png) no-repeat left top;
  width: 21px;
  height: 21px;
  position: absolute;
  right: -25px;
  top: 13px;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  margin: 10px;
  position: relative;
  width: auto;
}

.modal-content {
  border: 2px solid #0f4e8c;
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  color: #0f4e8c;
  padding: 67px 42px 0;
  text-align: center;
}

.modal-header .subtitle {
  font-size: 18px;
  font-size: 1.8rem;
}

button.close {
  background: none;
  border: none;
  cursor: pointer;
  height: 20px;
  position: absolute;
  width: 20px;
  top: 14px;
  right: 17px;
}

button.close:before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAgCAYAAAAbifjMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAW5JREFUeNrslL1KA0EUhWeXBSEKkdQ22uoTCMZIKtefxgeQWMV3sbcz8RXExM519RXshDTaiNgkJk0geq7chcvk3kkqBXHh27+Zc2Zndu6JBmvrR865c9AHJ+DehY9tcAGWQDOCwTtuKtw4AvsgM8R1cAVK/PwW4zQQHajhGtTmENPRJ4NjHlmadDwTTfwBGjSFYl5drwOZpiBRxEOwCx4Kg5CJs8T0EIuGnEf0p2OKfQPLRIpTKdYM6IiMX6i+9w1q/AdKSl96dwOqloEmHilr0pUm8QwxLdiBZ7IoTchgyxCnXBe3vL01k03aBz3crCri3FuDHd7mcqAn+oLyHGLHBeZ/yTIZNKmqQI/nnAdKOeMBnsErOE1WNhoTbvyk08tjKxgG6E+XMVgAk6h8eDaVBzDJDPFUHiScBxWZB+i4h+vdj+RBHKjCDpd43ciD78JKvCqUeVBs2/88+Pt5QAaXhjifUcpk0v79PPgSYAAGpJbBYP4FTQAAAABJRU5ErkJggg==") no-repeat left bottom;
  height: 16px;
  width: 16px;
  left: 2px;
  top: 2px;
}

button.close:hover:before {
  background-position: left top;
}

.modal-title {
  font-size: 26px;
  font-size: 2.6rem;
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 15px 42px 45px;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 393px;
    margin: 50px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.modal-header:after,
.modal-footer:after {
  clear: both;
}

::-ms-clear {
  display: none;
}

@media (min-width: 1199px) {
  .header .container {
    min-height: 711px;
  }
}
