@media (min-width: 1199px){
	.header .container{
		min-height: 711px
	}
}

@media (min-width: 992px){
	.header .container{
		min-height: 500px
	}
}


@media (max-width: 1280px){
	.owl-carousel .owl-controls .owl-nav .owl-next{
		margin-left: 548px;
	}

	.owl-carousel .owl-controls .owl-nav .owl-prev{
		margin-left: -597px;
	}
}

@media (max-width: 1250px){
	h3{
		@include font-size(2.1)
	}
	.owl-carousel .owl-controls .owl-nav .owl-next{
		margin-left: 510px;
	}

	.owl-carousel .owl-controls .owl-nav .owl-prev{
		margin-left: -560px;
	}

	.owl-carousel .owl-item a{
		width: 95%;
		img{
			max-width: 100%;
			height: auto;
		}
	}	

	.owl-carousel .owl-item a{
		display: inline-block;
	}


}

@media (max-width: 1150px){
	.video-item{
		iframe{
			width: 100% !important;
		}
	}

	.owl-carousel .owl-controls{
		top: 210px;
		.owl-nav .owl-next{
			margin-left: 475px;
		}

		.owl-nav .owl-prev{
			margin-left: -526px;
		}
	}

	.reviews .owl-carousel .owl-controls{
		top: 135px;
	}
}



@media (max-width: 1070px){
	h3{
		@include font-size(2);
	}
	.owl-carousel .owl-controls{
		top: 200px;
		.owl-nav .owl-next{
			margin-left: 460px;
		}

		.owl-nav .owl-prev{
			margin-left: -510px;
		}
	}

	main{
		margin-left: 10%;
		margin-right: 10%;
	}
	.products{
		@include font-size(1.7);
	}

	.reviews .owl-carousel .owl-controls{
		top: 170px;
	}
}

@media (max-width: 1040px){
	.owl-carousel .owl-controls{
		top: 200px;
		.owl-nav .owl-next{
			margin-left: 420px;
		}

		.owl-nav .owl-prev{
			margin-left: -472px;
		}
	}

	.thank{
		width: 70%;
		margin-left: -350px;
	}
}


@media (max-width: 1024px){
	.owl-carousel .owl-controls{
		.owl-nav .owl-next{
			margin-left: 452px;
		}

		.owl-nav .owl-prev{
			margin-left: -500px;
		}
	}

	.video-item iframe{
		height: 520px !important;
	}

	#foo2 .owl-controls{
		.owl-nav .owl-next{
			margin-left: 443px;
		}

		.owl-nav .owl-prev{
			margin-left: -494px;
		}
	}

	#map{
		height: 400px;
	}

	.modal form div label.error{
		right: -29px;
	}

	.thank{
		top: 27%;
	}
}

@media (max-width: 991px){
	.owl-carousel .owl-controls{
		top: 150px;
		.owl-nav .owl-next{
			margin-left: 355px;
		}

		.owl-nav .owl-prev{
			margin-left: -403px;
		}
	}

	.video-item iframe{
		height: 400px !important;
	}

	.products .flex .item h3{
		height: 7.5rem;
	}

	.header{
		h1{
			padding-top: 3rem;
		}
		.title{
			padding-bottom: 2rem;
		}
	}

	main{
		margin-left: 5%;
		margin-right: 5%;
	}

	.reviews .owl-carousel .owl-controls{
		top: 130px;
	}

	footer{
		@include font-size(1.6);
	}

	.thank{
		width: 70%;
		margin-left: -320px;
	}	
}

@media (max-width: 830px){
	.owl-carousel .owl-controls{
		.owl-nav .owl-next{
			margin-left: 315px;
		}

		.owl-nav .owl-prev{
			margin-left: -368px;
		}
	}

	.reviews .owl-carousel .owl-controls{
		top: 160px;
	}

	.thank{
		width: 75%;
		margin-left: -320px;
	}	
}

@media (max-width: 768px){
	#foo2 .owl-controls{
		width: 100%;
		.owl-nav .owl-next{
			left: inherit;
			right: -20px;
			margin-left: 0;
		}

		.owl-nav .owl-prev{
			left: -20px;
			margin-left: 0;
		}
	}

	.thank{
		margin-left: -290px;
	}
}

@media (max-width: 767px){
	h2{
		@include font-size(3.3);
	}
	.products .flex{
		flex-direction: column;
		.item{
			margin-bottom: 5rem;
			width: 100%;
			h3{
				height: auto;
			}
			.text{
				height: auto;
			}
		}
	}

	.owl-carousel .owl-controls,
	.reviews .owl-carousel .owl-controls
	{
		margin-top: -35px;
		top: 50%;
	}	

	.owl-carousel .owl-controls{
		width: 100%;
		.owl-nav .owl-next{
			left: inherit;
			right: -10px;
			margin-left: 0;
		}

		.owl-nav .owl-prev{
			left: -10px;
			margin-left: 0;
		}
	}

	.thank{
		width: 80%;
		margin-left: 0;
		left: 0;
		transform: translateX(15%);
	}	
}


@media (max-width: 736px){
	.video-item iframe{
		width: 82% !important;
		height: 320px !important;
	}

	#foo2 .owl-controls{
		.owl-nav .owl-next{
			right: -10px;
		}

		.owl-nav .owl-prev{
			left: -10px;
		}
	}

	#map{
		height: 270px;
	}

}


@media (max-width: 667px) and (orientation: landscape){
	main{
		margin-left: 2%;
		margin-right: 2%;
	}

	.video-item iframe{
		width: 85% !important;
		height: 280px !important;
	}

	.thank{
		top: 9%;
		transform: translateX(12%);
	}	
}

@media (max-width: 650px){
	.logo-contacts{
		display: block;	
		text-align: center;	
		.contacts{
			text-align: center;
		}
	}

	.video-item iframe{
		height: 340px !important;
	}	
}

@media (max-width: 545px){
	h1{
		@include font-size(3.1);
	}
	h2{
		@include font-size(2.9);
	}
	.video-item iframe{
		height: 320px !important;
	}

	.logo-contacts .contacts .tel:before{
		display: none;
	}

	.thank{
		width: 90%;
		transform: translateX(4%);
	}
}


@media (max-width: 400px){
	main{
		margin-left: 0;	
		margin-right: 0;
		ul{
			margin-left: 0;	
		}
	}

	#map{
		height: 250px !important
	}

	.owl-carousel .owl-controls{
		display: none;	
	}

	.products .container,
	.container{
		padding-bottom: 3rem;
	}
	
	.video-item{
		padding-bottom: 2rem;
	}
}

@media (max-width: 350px){
	h2{
		@include font-size(2.6);
		margin-bottom: 5rem;
		padding-top: 3rem;
	}

	.modal-header{
		padding-top: 50px;
	}

	.modal .btn{
		margin-top: 25px;
	}

	.modal-header,
	.modal-body
	{
		padding-left: 25px;
		padding-right: 25px;
	}
	.modal-body{
		padding-bottom: 35px;
	}

	.modal-dialog{
		margin-top: 30px;
	}

	.modal form div label.error{
		right: -23px;
	}

	.thank{
		left: 0;
		margin-left: 1%;
		padding-top: 4.5rem;
		transform: translateX(2%);
		width: 95%;
	}
}
